<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 row">
          <div class="col-6">
            <h6 class="text-white text-capitalize ps-3">Nhập kho sản phẩm</h6>

          </div>
          <div class="col-6 ">
                <div class="d-flex">
                  <div class="flex-grow-1 me-2">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                                  placeholder=" Tìm kiếm danh sách đã nhập">
                  </div>
                  <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
                  data-bs-target="#modal_add">
                  <i class="fas fa-plus"></i> Thêm mới
                </button>
                </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">STT</th>
                <th class="text-secondary opacity-7">Nhà cung cấp</th>
                <th class="text-secondary opacity-7">Tên sản phẩm</th>
                <th class="text-secondary opacity-7">Số lượng nhập</th>
                <th class="text-secondary opacity-7">giá nhập</th>
                <th class="text-secondary opacity-7">Người nhập</th>
                <th class="text-secondary opacity-7">Thời gian nhập</th>
                <th class="text-secondary opacity-7">Thao tác</th>
              </tr>
            </thead>
            <tbody >
              <tr
                *ngFor="let item of import_order|filter:searchText| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
                <td  class="ps-4">{{i+1}}</td>
                <td>{{item.name_supplier}}</td>
                <td>{{item.name_product}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.name_user}}</td>
                <td>{{item.updated_at}}</td>
                <td>
                  <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" (click)="get_id(item.id)"
                    data-bs-target="#modal_edit">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal_delete"
                    (click)="openModal(item.id)">
                    <i class="fas fa-trash"></i>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls previousLabel="Đầu" nextLabel="Cuối" (pageChange)="ontableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal add -->
<div class="modal fade" id="modal_add" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="POST" [formGroup]="import_order_from" (ngSubmit)="onCreate()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm mới nhập kho sản phẩm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6 for="category_id">Nhà cung cấp</h6>
            <select class="form-select" formControlName="supplier_id">
              <option value="" selected disabled>-- Chọn nhà cung cấp --</option>
              <option *ngFor="let item of supplier" value="{{ item.id }}">{{ item.name_supplier }}</option>
            </select>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('supplier_id')">
              <p style="font-size: 15px;">--{{ getErrorMessage('supplier_id') }}--</p>
            </div>
          </div>
          <div class="form-group">
            <h6 for="category_id">Sản phẩm</h6>
            <select class="form-select" formControlName="product_id">
              <option value="" selected disabled>-- Chọn sản phẩm --</option>
              <option *ngFor="let item of product" value="{{ item.id }}">{{ item.name_product }}</option>
            </select>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('product_id')">
              <p style="font-size: 15px;">--{{ getErrorMessage('product_id') }}--</p>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="example-input-group" class="form-label">Số lượng sản phẩm <span style="color: red;">*</span></label>
            <div class="input-group input-group-outline">
              <input type="number" min="0" formControlName="quantity" placeholder="Nhập số lượng sản phẩm" class="form-control"
                id="example-input-group" vb>
            </div>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('quantity')">
              <p style="font-size: 15px;">--{{ getErrorMessage('quantity') }}--</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="example-input-group" class="form-label">Giá nhập<span style="color: red;">*</span></label>
            <div class="input-group input-group-outline">
              <input type="number"  min="0"  formControlName="price" placeholder="Nhập giá nhập" class="form-control"
                id="example-input-group">
            </div>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('price')">
              <p style="font-size: 15px;">--{{ getErrorMessage('price') }}--</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary" >Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="modal_edit" tabindex="-1"data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="PUT" [formGroup]="import_order_from" (ngSubmit)="onEdit()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa nhập kho sản phẩm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <h6 for="category_id">Nhà cung cấp</h6>
            <select class="form-select" formControlName="supplier_id">
              <option value="" selected disabled>-- Chọn nhà cung cấp --</option>
              <option *ngFor="let item of supplier" value="{{ item.id }}">{{ item.name_supplier }}</option>
            </select>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('supplier_id')">
              <p style="font-size: 15px;">--{{ getErrorMessage('supplier_id') }}--</p>
            </div>
          </div>
          <div class="form-group">
            <h6 for="category_id">Sản phẩm</h6>
            <select class="form-select" formControlName="product_id">
              <option value="" selected disabled>-- Chọn sản phẩm --</option>
              <option *ngFor="let item of product" value="{{ item.id }}">{{ item.name_product }}</option>
            </select>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('product_id')">
              <p style="font-size: 15px;">--{{ getErrorMessage('product_id') }}--</p>
            </div>
          </div>
          <div class="mb-3 mt-3">
            <label for="example-input-group" class="form-label">Số lượng sản phẩm <span style="color: red;">*</span></label>
            <div class="input-group input-group-outline">
              <input type="number" min="0" formControlName="quantity" placeholder="Nhập số lượng sản phẩm" class="form-control"
                id="example-input-group" vb>
            </div>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('quantity')">
              <p style="font-size: 15px;">--{{ getErrorMessage('quantity') }}--</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="example-input-group" class="form-label">Giá nhập<span style="color: red;">*</span></label>
            <div class="input-group input-group-outline">
              <input type="number"  min="0"  formControlName="price" placeholder="Nhập giá nhập" class="form-control"
                id="example-input-group">
            </div>
            <div style="color: #FF3333;" *ngIf="submitted && isInvalidField('price')">
              <p style="font-size: 15px;">--{{ getErrorMessage('price') }}--</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="resetForm()" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="Modal_delete" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Xóa bản nhập kho
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <!-- <button type="button" class="btn btn-danger" (click)="onDelete(id)">Xóa</button> -->
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="onDelete(id)">Xóa</button>


      </div>
    </div>
  </div>
</div>
