<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 row">
          <div class="col-6">
            <h6 class="text-white text-capitalize ps-3">Thông tin liên hệ</h6>
          </div>
          <div class="col-6 ">
            <div class="d-flex">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">Số điện thoại</th>
                <th class="text-secondary opacity-7">email</th>
                <th class="text-secondary opacity-7">Thời gian mở cửa</th>
                <th class="text-secondary opacity-7">Địa chỉ</th>
                <th class="text-secondary opacity-7">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of store_information">
                <td>{{item.number_phone}}</td>
                <td>{{item.email}}</td>
                <td>{{item.open_time}}</td>
                <td>{{item.address}}</td>
                <td>
                  <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" (click)="get_id(item.id)"
                    data-bs-target="#modal_edit">
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <!-- <pagination-controls previousLabel="Đầu" nextLabel="Cuối" (pageChange)="ontableDataChange($event)">
            </pagination-controls> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal edit -->
<div class="modal fade" id="modal_edit" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="POST" [formGroup]="from_store_information" (ngSubmit)="onEdit()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa thông tin liên hệ</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <h6 for="description">Nhập địa chỉ trên map<span style="color: red;">*</span></h6>
            <div class="input-group input-group-outline">
              <input type="text" formControlName="map" placeholder="Nhập địa chỉ map" class="form-control"
                id="example-input-group">
            </div>
          </div>
          <div class="mb-3">
            <h6 for="description">Số điện thoại<span style="color: red;">*</span></h6>
            <div class="input-group input-group-outline">
              <input type="number" formControlName="number_phone"  class="form-control"
                id="example-input-group">
            </div>
          </div>
          <div class="mb-3">
            <h6 for="description">Nhập email<span style="color: red;">*</span></h6>
            <div class="input-group input-group-outline">
              <input type="text" formControlName="email" placeholder="Nhập địa chỉ map" class="form-control"
                id="example-input-group">
            </div>
          </div>
          <div class="mb-3">
            <h6 for="description">Nhập thời gian mở cửa<span style="color: red;">*</span></h6>
            <div class="input-group input-group-outline">
              <input type="text" formControlName="email" placeholder="Nhập địa chỉ map" class="form-control"
                id="example-input-group">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="resetForm()" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>
