<!-- header -->
<app-hearder_main></app-hearder_main>
<!-- modal hủy -->
<div class="modal fade m-t-200" id="Modal_cancel" tabindex="-1" role="dialog"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hủy đơn hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn hủy đơn hàng này không 😢
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="update_status_orders(id,5)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
<!-- Phục hồi đơn hàng -->
<div class="modal fade m-t-200" id="Modal_ph" tabindex="-1" role="dialog"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Phục hồi!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốc đặt lại đơn hàng này!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="update_status_orders(id,1)">Phục hồi</button>
      </div>
    </div>
  </div>
</div>

<!-- modal chi tiết -->
<div class="modal fade m-t-100" id="model_detail" tabindex="-1" role="dialog"  data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> CHI TIẾT ĐƠN HÀNG</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row m-b-5">
          <div class="col-6">
            Tên người nhận: <span  *ngIf="order_detail">{{order_detail.receiver_name}}</span>
          </div>
          <div class="col-6">
            Số điện thoại: <span  *ngIf="order_detail"> {{order_detail.number_phone}}</span>
          </div>
        </div>
        <div class="row m-b-5">
          <div class="col-12">
            Địa chỉ giao hàng: <span  *ngIf="order_detail"> {{order_detail.receiver_address}}</span>
          </div>
        </div>
        <div class="row m-b-5">

          <div class="col-6">
            <!-- <span  *ngIf="order_detail" style="color: red;"> {{getStatusText(order_detail.status)}}</span> -->
            <!-- <td> -->
              Trạng thái: <span   *ngIf="order_detail" class="status-content" [ngStyle]="getStatusStyle(order_detail.status)">{{ getStatusText(order_detail.status) }}</span>
            <!-- </td> -->
          </div>
          <div class="col-6">
            Tổng hóa đơn: <span  *ngIf="order_detail" style="color: red;"> {{order_detail.total_money|currency:'VND' }}</span>
          </div>
        </div>
        <div class="row m-b-5">
          <div class="col-6">
            thời gian dự tính nhận hàng: <span  *ngIf="order_detail"> {{ order_detail.delivery_date }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
              <label for="">Thông tin sản phẩm:</label>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">stt</th>
                  <th scope="col">Sản phẩm</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Giá</th>
                </tr>
              </thead>
              <tbody *ngIf="order_product">
                <tr *ngFor="let item of order_product;let i = index">
                  <td  class="ps-4">{{i+1}}</td>
                  <td><img [src]="'http://127.0.0.1:8000/storage/image/product/'+item.product.images[0]?.image" alt="" style=" width: 150px;height: 100px;">{{ item.product.name }}</td>
                  <td >{{item.quantity}}</td>
                  <td style="color: red;">{{item.price|currency:'VND' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<!-- carts -->
<app-cart></app-cart>


<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="" class="stext-109 cl8 hov-cl1 trans-04">
      Trang chủ
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Đơn hàng
    </span>
  </div>
</div>
<div class="bor10 m-t-50 p-t-43 p-b-40">
  <!-- Tab01 -->
  <div class="tab01">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" (click)="status = 1; get_order()" href="#t-1" role="tab">Đơn hàng đang xử
          lý</a>
      </li>
      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" (click)="status = 2; get_order()" href="#t-2" role="tab">Đơn hàng đã xử
          lý</a>
      </li>
      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" (click)="status = 3; get_order()" href="#t-3" role="tab">Đơn hàng đang
          giao</a>
      </li>
      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" (click)="status = 4; get_order()" href="#t-4" role="tab">Đơn hàng đã thành
          công</a>
      </li>

      <li class="nav-item p-b-10">
        <a class="nav-link" data-toggle="tab" (click)="status = 5; get_order()" href="#t-5" role="tab">Đơn hàng đã
          hủy</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content p-t-43">
      <!-- - -->
      <div class="tab-pane fade" id="t-1" role="tabpanel">
        <div class="how-pos2 p-lr-15-md">
          <p class="stext-102 cl6">
            <!-- {{ detail_description }} -->
          <div class="wrap-table-shopping-cart">
            <table class="table table-shopping-cart">
              <thead>
                <tr>
                  <th scope="col" class="col-lg-3">Mã đơn hàng</th>
                  <th scope="col" class="col-lg-3">Trạng thái đơn hàng</th>
                  <th scope="col" class="col-lg-2">Dự tính ngày nhận</th>
                  <th scope="col" class="col-lg-2">Thao tác</th>
                  <th scope="col" class="col-lg-2">Hủy đơn</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of order">
                  <td class="col-lg-3">
                    <h5>{{ item.code_order }}</h5>
                  </td>
                  <td class="col-lg-3">
                    <div class="status-content" [ngStyle]="getStatusStyle(item.status)">{{ getStatusText(item.status) }}</div>
                  </td>
                  <td class="col-lg-2">
                    {{ item.delivery_date | date:'dd-MM-yyyy'}}
                  </td>
                  <td class="col-lg-2">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#model_detail" (click)="get_order_id(item.id)" title="Xem chi tiết đơn hàng">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td class="col-lg-2">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_cancel" title="Hủy đơn"
                      (click)="openModal(item.id)">
                      <i class="fa fa-window-close" aria-hidden="true" ></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="t-2" role="tabpanel">
        <div class="how-pos2 p-lr-15-md">
          <p class="stext-102 cl6">
            <div class="wrap-table-shopping-cart">
              <table class="table table-shopping-cart">
                <thead>
                  <tr>
                    <th scope="col" class="col-lg-3">Mã đơn hàng</th>
                    <th scope="col" class="col-lg-3">Trạng thái đơn hàng</th>
                    <th scope="col" class="col-lg-2">Dự tính ngày nhận</th>
                    <th scope="col" class="col-lg-2">Thao tác</th>
                    <th scope="col" class="col-lg-2">Hủy đơn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order">
                    <td class="col-lg-3">
                      <h5>{{ item.code_order }}</h5>
                    </td>
                    <td class="col-lg-3">
                      <div class="status-content" [ngStyle]="getStatusStyle(item.status)">{{ getStatusText(item.status) }}</div>
                    </td>
                    <td class="col-lg-2">
                      {{ item.delivery_date | date:'dd-MM-yyyy'}}
                    </td>
                    <td class="col-lg-2">

                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#model_detail" (click)="get_order_id(item.id)" title="Xem chi tiết đơn hàng">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="col-lg-2">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_cancel" title="Hủy đơn"
                        (click)="openModal(item.id)">
                        <i class="fa fa-window-close" aria-hidden="true" ></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          <!-- </p> -->
        </div>
      </div>

      <div class="tab-pane fade" id="t-3" role="tabpanel">
        <div class="how-pos2 p-lr-15-md">
          <p class="stext-102 cl6">
            <div class="wrap-table-shopping-cart">
              <table class="table table-shopping-cart">
                <thead>
                  <tr>
                    <th scope="col" class="col-lg-3">Mã đơn hàng</th>
                    <th scope="col" class="col-lg-3">Trạng thái đơn hàng</th>
                    <th scope="col" class="col-lg-2">Dự tính ngày nhận</th>
                    <th scope="col" class="col-lg-2">Thao tác</th>
                    <th scope="col" class="col-lg-2">Hủy đơn</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order">
                    <td class="col-lg-3">
                      <h5>{{ item.code_order }}</h5>
                    </td>
                    <td class="col-lg-3">
                      <div class="status-content" [ngStyle]="getStatusStyle(item.status)">{{ getStatusText(item.status) }}</div>
                    </td>
                    <td class="col-lg-2">
                      {{ item.delivery_date | date:'dd-MM-yyyy'}}
                    </td>
                    <td class="col-lg-2">
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#model_detail" (click)="get_order_id(item.id)" title="Xem chi tiết đơn hàng">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="col-lg-2">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_cancel" title="Hủy đơn"
                        (click)="openModal(item.id)">
                        <i class="fa fa-window-close" aria-hidden="true" ></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
        </div>
      </div>
       <!-- thành công -->
      <div class="tab-pane fade" id="t-4" role="tabpanel">
        <div class="how-pos2 p-lr-15-md">
          <p class="stext-102 cl6">
            <div class="wrap-table-shopping-cart">
              <table class="table table-shopping-cart">
                <thead>
                  <tr>
                    <th scope="col" class="col-lg-3">Mã đơn hàng</th>
                    <th scope="col" class="col-lg-3">Trạng thái đơn hàng</th>
                    <th scope="col" class="col-lg-2">Dự tính ngày nhận</th>
                    <th scope="col" class="col-lg-2">Thao tác</th>
                    <!-- <th scope="col" class="col-lg-2">Hủy đơn</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order">
                    <td class="col-lg-3">
                      <h5>{{ item.code_order }}</h5>
                    </td>
                    <td class="col-lg-3">
                      <div class="status-content" [ngStyle]="getStatusStyle(item.status)">{{ getStatusText(item.status) }}</div>
                    </td>
                    <td class="col-lg-2">
                      {{ item.delivery_date | date:'dd-MM-yyyy'}}
                    </td>
                    <td class="col-lg-2">

                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#model_detail" (click)="get_order_id(item.id)" title="Xem chi tiết đơn hàng">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </td>
                    <!-- <td class="col-lg-2">
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_cancel" title="Hủy đơn"
                        (click)="openModal(item.id)">
                        <i class="fa fa-window-close" aria-hidden="true" ></i>
                      </button>
                    </td> -->
                  </tr>
                </tbody>
              </table>

            </div>
          <!-- </p> -->
        </div>
      </div>

      <!-- Hủy đơn- -->
      <div class="tab-pane fade" id="t-5" role="tabpanel">
        <div class="how-pos2 p-lr-15-md">
          <p class="stext-102 cl6">
            <div class="wrap-table-shopping-cart">
              <table class="table table-shopping-cart">
                <thead>
                  <tr>
                    <th scope="col" class="col-lg-3">Mã đơn hàng</th>
                    <th scope="col" class="col-lg-3">Trạng thái đơn hàng</th>
                    <th scope="col" class="col-lg-2">Dự tính ngày nhận</th>
                    <th scope="col" class="col-lg-2">Thao tác</th>
                    <th scope="col" class="col-lg-2">Đặt lại</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of order">
                    <td class="col-lg-3">
                      <h5>{{ item.code_order }}</h5>
                    </td>
                    <td class="col-lg-3">
                      <div class="status-content" [ngStyle]="getStatusStyle(item.status)">{{ getStatusText(item.status) }}</div>
                    </td>
                    <td class="col-lg-2">
                      {{ item.delivery_date | date:'dd-MM-yyyy'}}
                    </td>
                    <td class="col-lg-2">

                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#model_detail" (click)="get_order_id(item.id)" title="Xem chi tiết đơn hàng">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                    </td>
                    <td class="col-lg-2">
                      <!-- <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_cancel" title="Hủy đơn"
                        (click)="openModal(item.id)">
                        <i class="fa fa-window-close" aria-hidden="true" ></i>
                      </button> -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal_ph" title="Phục hồi đơn"
                      (click)="openModal(item.id)">
                      ⬅
                      <!-- <i   style="font-size: 20px;" class="fa-solid fa-hammer"></i> -->
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
        </div>
      </div>


    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
<!-- Back to top -->
<app-back_to_top></app-back_to_top>

