<!-- header -->
<app-hearder_main></app-hearder_main>
<!-- carts -->
<app-cart></app-cart>


<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="" class="stext-109 cl8 hov-cl1 trans-04">
      Trang chủ
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      Giỏ hàng
    </span>
  </div>
</div>
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Sản phẩm</th>
									<th class="column-2"></th>
									<th class="column-3">Giá tiền</th>
									<th class="column-4">Số lượng</th>
									<th class="column-5">Tổng tiền</th>
									<th class="column-1"></th>
								</tr>

								<tr class="table_row" *ngFor="let item of info_product">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="http://127.0.0.1:8000/storage/image/product/{{ item.product.images[0]?.image }}" alt="IMG">
										</div>
									</td>
									<td class="column-2">  {{ item.product.name }}</td>
									<td class="column-3">{{ item.product.default_price |currency:'VND'}}</td>
                  <td class="column-4">
                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" (click)="decreaseQuantity(item)">
                            <i class="fs-16 zmdi zmdi-minus"></i>
                        </div>
                        <input class="mtext-104 cl3 txt-center num-product" type="number" value="{{ item.quantity }}">

                        <!-- <input class="mtext-104 cl3 txt-center num-product" [(ngModel)]="item.quantity" type="number"> -->
                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" (click)="increaseQuantity(item)">
                            <i class="fs-16 zmdi zmdi-plus"></i>
                        </div>
                    </div>
                </td>
									<td class="column-5">  <span style="color: red;">{{ item.price_by_quantity  |currency:'VND'}}</span></td>
                  <td class="column-6">    <button (click)="removeProduct(item.id)">X</button></td>
								</tr>


							</table>
						</div>

						<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
              <form (ngSubmit)="applyCoupon()">
							<div class="flex-w flex-m m-r-20 m-tb-5">
                  <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" [(ngModel)]="voucherCode" name="voucherCode" placeholder="Mã giảm giá">

								<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                  <button type="submit" class="site-btn">App voucher</button>
								</div>
							</div>
            </form>
						</div>
					</div>
				</div>

				<div class="col-sm-10 col-lg-4 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Tổng giỏ hàng
						</h4>

						<div class="flex-w flex-t bor12 p-b-13">
							<div class="size-208">
								<span class="stext-110 cl2">
									Tổng tiền:
								</span>
							</div>

							<div class="size-209">
								<span class="mtext-110 cl2">
                  <span  *ngIf="datacart" class="font-weight-bold" style="float: right;color: #FF3333;">{{ datacart.total_money  |currency:'VND'}}</span>
								</span>
							</div>
              <br>

              <div class="size-208 m-t-23">
								<span class="stext-110 cl2">
									voucher:
								</span>
							</div>

							<div class="size-209 m-t-23">
								<span class="mtext-110 cl2">
                  <span *ngIf="datacart" class="font-weight-bold" style="float: right;color: #FF3333;">-{{ datacart.discounted_price|currency:'VND' }}</span>
								</span>
							</div>
						</div>
						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">Thành tiền
								</span>
							</div>

							<div class="size-209 p-t-1 p-l-150">
								<span class="mtext-110 cl2" *ngIf="datacart">
									{{ datacart.real_money  |currency:'VND'}}
								</span>
							</div>
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
            <a href="thanh-toan" style="color: white;">
              Thanh toán
            </a>
          </button>
					</div>
				</div>
			</div>
		</div>
	</form>
<!-- footer -->
<app-footer></app-footer>
<!-- Back to top -->
<app-back_to_top></app-back_to_top>
