<!-- header -->
<app-hearder_main></app-hearder_main>
<!-- carts -->
<app-cart></app-cart>


<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="" class="stext-109 cl8 hov-cl1 trans-04">
      Trang chủ
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4">
      <a href="gio-hang" class="stext-109 cl8 hov-cl1 trans-04">

        Giỏ hàng <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
      </a>
    </span>
    <span class="stext-109 cl4">
      Thanh toán
    </span>
  </div>
</div>

<div class="container  m-b-30">
  <form action="" method="POST" [formGroup]="order_fromCreate" (ngSubmit)="onCreate()">
    <div class="row">
      <div class="col-md-8">
        <!-- <div class="border rounded p-3" style="background-color: #F0F8FF;"> -->
        <div class="border rounded p-3">
          <h4 class="mb-3 text-center">THÔNG TIN NGƯỜI ĐẶT</h4>

          <div class="form-group">
            <label for="fullName">Tên người nhận</label>
            <input type="text" class="form-control" id="fullName" formControlName="receiver_name"
              placeholder="Nhập tên người nhận">
            <div *ngIf="submitted && isInvalidField('receiver_name')">
              <p style="font-size: 15px; color: #FF3333;">{{ getErrorMessage('receiver_name') }}</p>
            </div>
          </div>

          <div class="form-group">
            <label for="phoneNumber">Số điện thoại</label>
            <input type="tel" class="form-control" id="phoneNumber" formControlName="number_phone"
              placeholder="Nhập số điện thoại">
            <div *ngIf="submitted && isInvalidField('number_phone')">
              <p style="font-size: 15px; color: #FF3333;">{{ getErrorMessage('number_phone') }}</p>
            </div>
          </div>

          <!-- <label for="provinces_id">Tỉnh/Thành phố:</label> -->
          <!-- <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
            <select class="js-select2" name="provinces_id" formControlName="provinces_id"  [(ngModel)]="selectedProvince" (change)="loadDistricts(selectedProvince)">
              <option>Chọn tỉnh/thành phố</option>
              <option *ngFor="let item of provinces" [value]="province.id">{{ item.name }}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div> -->
          <!-- <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9"> -->
            <!-- <label for="provinces_id">Tỉnh/Thành phố:</label> -->
            <!-- <select class="js-select2" id="provinces_id" name="provinces_id" formControlName="provinces_id" [(ngModel)]="selectedProvince" (change)="loadDistricts(selectedProvince)"> -->
              <!-- <select class="js-select2" id="provinces_id" name="provinces_id" formControlName="provinces_id" (change)="onChangeProvince($event)">

              <option value="">Chọn tỉnh/thành phố</option>
              <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
            </select> -->
            <!-- <select class="js-select2" id="provinces_id" name="provinces_id" formControlName="provinces_id" [(ngModel)]="selectedProvince" (ngModelChange)="onChangeProvince($event)">
              <option value="">Chọn tỉnh/thành phố</option>
              <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
            </select>


            <div class="dropDownSelect2"></div> -->
          <!-- </div> -->
          <!-- <label for="districts_id">Quận/Huyện:</label>
          <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
            <select class="js-select2" id="districts_id" name="districts_id" formControlName="districts_id" [(ngModel)]="selectedDistrict" (change)="loadWards(selectedDistrict)">
              <option value="">Chọn quận/huyện</option>
              <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
          <label for="ward_id">Phường/Xã:</label>
          <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
            <select  class="js-select2" id="ward_id" name="ward_id" formControlName="ward_id" [(ngModel)]="selectedWard">
              <option value="">Chọn phường/xã</option>
              <option *ngFor="let ward of wards" [value]="ward.id">{{ ward.name }}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div> -->
          <label for="provinces_id">Tỉnh/Thành phố:</label>
          <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
            <select class="js-select2" id="provinces_id" name="provinces_id" formControlName="provinces_id" [(ngModel)]="selectedProvince" (change)="loadDistricts(selectedProvince)">
              <option value="">Chọn tỉnh/thành phố</option>
              <option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>

          <label for="districts_id">Quận/Huyện:</label>
          <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
            <select class="js-select2" id="districts_id" name="districts_id" formControlName="districts_id" [(ngModel)]="selectedDistrict" (change)="loadWards(selectedDistrict)">
              <option value="">Chọn quận/huyện</option>
              <option *ngFor="let district of districts" [value]="district.code">{{ district.name }}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>

          <label for="ward_id">Phường/Xã:</label>
          <div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
            <select class="js-select2" id="ward_id" name="ward_id" formControlName="ward_id" [(ngModel)]="selectedWard">
              <option value="">Chọn phường/xã</option>
              <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.name }}</option>
            </select>
            <div class="dropDownSelect2"></div>
          </div>
          <div class="form-group">
            <label for="address">Địa chỉ</label>
            <textarea class="form-control" formControlName="receiver_address" rows="3"
              placeholder="Nhập địa chỉ"></textarea>
            <div *ngIf="submitted && isInvalidField('receiver_address')">
              <p style="font-size: 15px; color: #FF3333;">{{ getErrorMessage('receiver_address') }}</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="border rounded p-3" style="background-color: #FDF5E6;">
          <h4 class="mb-3 text-center">ĐƠN HÀNG CỦA BẠN</h4>
          <ul class="list-unstyled">
            <li>
              <div class="row"><strong class="float-left m-l-15">Sản
                  phẩm</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong
                  class="float-right">Giá tiền</strong></div>
              <!-- <div class="text-right">Giá tiền</div> -->
            </li>
            <li *ngFor="let item of product_carts" class="d-flex justify-content-between">
              <div class="text-left">{{ item.product.name }} X{{ item.quantity }}</div>
              <div class="text-right">
                <span class="font-weight-bold" style="color: red;">{{ item.price_by_quantity | currency:'VND' }}</span>

              </div>
            </li>
          </ul>
          <hr>
          <div class="text-left">
            <div class="mb-2">
              <strong>Tổng tiền:</strong>
              <span class="float-right" *ngIf="datacart" style="color: red;">{{ datacart.total_money | currency:'VND'
                }}</span>
            </div>
            <div class="mb-2">
              <strong>Voucher:</strong>
              <span class="float-right" *ngIf="datacart" style="color: red;">-{{ datacart.discounted_price |
                currency:'VND' }}</span>
            </div>
            <hr>
            <div class="mb-3">
              <strong>Thành tiền:</strong>
              <span class="float-right" *ngIf="datacart" style="color: red;">{{ datacart.real_money | currency:'VND'
                }}</span>
            </div>
            <div class="text-center">
              <button type="submit"
                class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">Đặt</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- footer -->
<app-footer></app-footer>
<!-- Back to top -->
<app-back_to_top></app-back_to_top>
