<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 row">
          <div class="col-6">
            <h6 class="text-white text-capitalize ps-3">Quản lý đơn chưa xử lý</h6>

          </div>
          <div class="col-6 ">
                <div class="d-flex">
                  <div class="flex-grow-1 me-2">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"placeholder="Nhập mã đơn hàng hoặc người nhận">
                  </div>
                </div>


          </div>

        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">STT</th>
                <th class="text-secondary opacity-7">Mã đơn hàng</th>
                <th class="text-secondary opacity-7">Tên Người nhận</th>
                <th class="text-secondary opacity-7">Trạng thái</th>
                <th class="text-secondary opacity-7">Xác nhận đơn</th>
                <th class="text-secondary opacity-7">Hủy đơn</th>
              </tr>
            </thead>
            <tbody >
              <tr
                *ngFor="let item of order|filter:searchText| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
                <td  class="ps-4">{{i+1}}</td>
                <td>{{item.code_order}}</td>
                <td>{{item.receiver_name}}</td>
                <td>
                  <div class="status-content" [ngStyle]="getStatusStyle(item.status)">{{ getStatusText(item.status) }}</div>
                </td>
                <td>
                  <button class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#Modal_success" title="Xác nhận đơn" (click)="openModal(item.id)"> <i style="font-size: 20px;" class="far fa-check-circle"></i> </button>
                  <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" (click)="get_order_id(item.id)"
                  data-bs-target="#model_detail"  title="Xem chi tiết đơn hàng">
                  <i style="font-size: 20px;" class="fas fa-eye"></i>
                </button>
                  <!-- <button type="button" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#Modal_success" title="Đã hoàn thành"
                  (click)="openModal(item.id)">
                  <i  style="font-size: 20px;" class="fas fa-check"></i>
                </button> -->
                </td>
                <td>

                  <!-- <button  class="btn btn-primary" title="Hủy đơn" ><i style="font-size: 20px;" class="far fa-window-close"></i></button> -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal_cancel" title="Hủy đơn"
                  (click)="openModal(item.id)">
                  <i style="font-size: 20px;" class="far fa-window-close"></i>
                </button>
                  <!-- <button  data-bs-toggle="modal" data-bs-target="#Modal_delete"
                   >

                  </button> -->

                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls previousLabel="Đầu" nextLabel="Cuối" (pageChange)="ontableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="model_detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"> Chi tiết đơn hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-6">
            <label for="">Tên khách hàng:</label>
            <span  *ngIf="order_detail"> {{order_detail.receiver_name}}</span>
          </div>
          <div class="col-6">
            <label for="">Số điện thoại:</label>
            <span  *ngIf="order_detail"> {{order_detail.number_phone}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="">Địa chỉ giao hàng:</label>
            <span  *ngIf="order_detail"> {{order_detail.receiver_address}}</span>
          </div>
        </div>
        <div class="row">

          <div class="col-6">
            <label for="">Trạng thái: </label>
            <!-- <span  *ngIf="order_detail" style="color: red;"> {{getStatusText(order_detail.status)}}</span> -->
            <!-- <td> -->
              <span   *ngIf="order_detail" class="status-content" [ngStyle]="getStatusStyle(order_detail.status)">{{ getStatusText(order_detail.status) }}</span>
            <!-- </td> -->
          </div>
          <div class="col-6">
            <label for="">Tổng hóa đơn: </label>
            <span  *ngIf="order_detail" style="color: red;"> {{order_detail.total_money|currency:'VND' }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
              <label for="">Thông tin sản phẩm:</label>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">stt</th>
                  <th scope="col">Sản phẩm</th>
                  <!-- <th scope="col">Tên sản phẩm</th> -->
                  <th scope="col">Số lượng</th>
                  <th scope="col">Giá</th>
                </tr>
              </thead>
              <tbody *ngIf="order_product">
                <tr *ngFor="let item of order_product;let i = index">
                  <td  class="ps-4">{{i+1}}</td>
                  <td><img [src]="'http://127.0.0.1:8000/storage/image/product/'+item.product.images[0]?.image" alt="" style=" width: 150px;height: 100px;">{{ item.product.name }}</td>
                  <td >{{item.quantity}}</td>
                  <td style="color: red;">{{item.price|currency:'VND' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>

<!-- modal xác nhận -->
<div class="modal fade" id="Modal_success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận đơn hàng!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Xác nhận đơn hàng
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="update_status_orders(id,2)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal hủy -->
<div class="modal fade" id="Modal_cancel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Hủy đơn hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn hủy đơn hàng không
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <!-- <button type="button" class="btn btn-danger" (click)="onDelete(id)">Xóa</button> -->
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="update_status_orders(id,5)">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
