<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 row">
          <div class="col-6">
            <h6 class="text-white text-capitalize ps-3">Quản lý kho hàng</h6>

          </div>
          <div class="col-6 ">
                <div class="d-flex">
                  <div class="flex-grow-1 me-2">
                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                                  placeholder=" Tìm kiếm sản phẩm">
                  </div>
                  <!-- <button type="button" class="btn btn-success float-end" data-bs-toggle="modal"
                  data-bs-target="#modal_add">
                  Thêm mới
                </button> -->
                </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary opacity-7">STT</th>
                <th class="text-secondary opacity-7">Tên sản phẩm</th>
                <th class="text-secondary opacity-7">Tổng nhập</th>
                <th class="text-secondary opacity-7">Tổng xuất</th>
                <th class="text-secondary opacity-7">tồn kho</th>
                <!-- <th class="text-secondary opacity-7">Trạng thái</th> -->
                <th class="text-secondary opacity-7">Thao tác</th>
              </tr>
            </thead>
            <tbody >
              <tr
                *ngFor="let cate of warehouse|filter:searchText| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
                <td  class="ps-4">{{i+1}}</td>
                <td>{{cate.name}}</td>
                <td>{{cate.amount}}</td>
                <!-- <td>{{cate.status}}</td> -->
                <td>
                  <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" (click)="get_id(cate.id)"
                    data-bs-target="#editwarehouse">
                    Cập nhật kho
                  </button>
                  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal_delete"
                    (click)="openModal(cate.id)">
                    Xóa
                  </button> -->

                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls previousLabel="Đầu" nextLabel="Cuối" (pageChange)="ontableDataChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editwarehouse" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="" method="POST" [formGroup]="warehouse_fromEdit" (ngSubmit)="onEdit()">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Cập nhập số lượng cho sản phẩm: </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="example-input-group" class="form-label">Số lượng <span style="color: red;">*</span></label>
          <div class="input-group input-group-outline">
            <input type="number" formControlName="amount" placeholder="Số lượng" class="form-control"
              id="example-input-group">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button class="btn btn-primary" data-bs-toggle="modal">Lưu</button>
      </div>
      </form>
    </div>
  </div>
</div>
